/*     RESETS    */
/*****************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Color palete */
    --color-black: hsl(0, 0%, 13%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 91%);
    --color-light-grey: hsl(0, 0%, 98%);
    --color-red: hsl(0, 100%, 37%);
    --color-green: hsl(111, 100%, 23%);

    /* Typography */
    --ff-heading: "Boots And Spurs";
    --ff-body: "Roboto", Helvetica, Arial, sans-serif;
    --fs-h1: 2.5rem;

}
/*   TYPOGRAPHY  */
/*****************/

@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}  

body {
    font-family: var(--ff-body);
}

h1,
h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-h1);
    margin-bottom: 2.5rem; /* 40px */
}

/*  SITE HEADER  */
/*****************/

.site-header {
    color: var(--color-white);
    background-color: var(--color-black);
}

.branding a{
    color: var(--color-white);
    font-family: var(--ff-heading);
    font-size: 2.8125rem;
    text-decoration: none;
}

.main-nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

.main-nav__link {
    color: var(--color-white);
    text-decoration: none;
}

.main-nav__link.active {
    text-decoration: underline;
}
/*  SITE FOOTER   */
/*****************/

.site-footer {
    color: var(--color-white);
    background-color: var(--color-black);
    text-align: center;
}

/*  THEMEING   */
/*****************/

.skin-medium {
    background-color: var(--color-grey);
}

.skin-light {
    background-color: var(--color-light-grey);
}

/*   COMPONENTS  */
/*****************/

/* BUTTONS */
.btn {
    display: inline-block;
    font-size: 0.875rem;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-red);
    border-radius: 6px;
    padding: 0.8em 1.75em;
}

.btn-sale {
    background-color: var(--color-green);
}

/* JUMBOTRON */
.jumbotron {
    height: 760px;
    background-size: cover;
    background-position: bottom left;
    position: relative
}

.jumbotron__content {
    width: max-content;
    position: relative;
    top: 20%;
    left: 10%;
    text-align: center;

}

.jumbotron__cta {
    font-size: 1.5625rem;
    padding-inline: 5em;
}

/* REVIEWS */
.review__img {
    border-radius: 50%;
}


/*   INDEX PAGE  */
/*****************/

#front-page-jumbotron {
    background-image: url(../images/home-header.jpg);
}

#about-our-guitars img {
border-radius: 20%;
}